/* Pie de página */
footer {
    color: white;
    text-align: center;
    background-color: rgb(67, 8, 177);
}


.carousel .carousel-item {
    height: 750px;
}
  
.carousel-item img {
    position: absolute;
    object-fit: cover; 
    top: 0;
    left: 0;
    height: 750px;
}

.carousel-caption {
    text-shadow: brown;
    background-color: rgb(67, 8, 177);
}