/* Pie de página */
footer {
    color: white;
    text-align: center;
    background-color: rgb(67, 8, 177);
}

/* Carrousel*/
.carousel .carousel-item {
    height: 750px;
}
  
.carousel-item img {
    position: absolute;
    object-fit: cover; 
    top: 0;
    left: 0;
    height: 750px;
}

.carousel-caption {
    background-color: rgb(67, 8, 177);
}



.contenedor {
    width: 100%;
    align-items: center;
    height: 100%;
    margin: 10px auto;
}

.columna1 {
    width: 50%;
    height: 100%;
    margin: auto;
    float: left;
}

.columna2 {
    width: 30%;
    height: 100%;
    margin: auto;
    float: left;
}

.texto-borde {
    -webkit-text-stroke: 2px #4308b1;
    color: transparent; 
    text-decoration: none;  
}

.texto-borde-inv {
    -webkit-text-stroke: 0.5px white;
    color: transparent; 
    text-decoration: none;  
}

.left {
    padding: 20px;
    float: left;
    width: 60%; /* The width is 20%, by default */
}
  
.right {
    padding: 20px;
    float: left;
    width: 40%; /* The width is 20%, by default */
    text-align: left;
    background-color: white;
    margin-top:0cm;
    margin-bottom: 1cm;
}

.right2 {
    padding: 20px;
    float: left;
    width: 60%; /* The width is 20%, by default */
}
 
.left2 {
    padding: 20px;
    float: left;
    width: 40%; /* The width is 20%, by default */
    text-align: right;
    background-color: white;
    margin-top:0cm;
    margin-bottom: 1cm;
}
.img-content{
    object-fit: cover;
    width:100%;
    height:100%;
}

.leftContact {
    padding: 20px;
    float: left;
    width: 50%; /* The width is 20%, by default */
    text-align: left;
    background-color: white;
    margin-top:0cm;

}
.rightContact {
    text-align: center;
    padding: 20px;
    background-color: rgb(67, 8, 177);
    float: left;
    width: 50%; /* The width is 20%, by default */
}
.img-contentContact{
    object-fit: cover;
    width:50%;
    height:50%;
}

*{
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .left, .main, .right, .left2, .right2 {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}



  

.centrado{
    padding:8px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

h4 {
    font-family: 'Geologica', sans-serif;
    color:rgb(67, 8, 177);
}


div.history_container {
    height: 850px; 
    background-image: url(./images/pizza3.jpeg);
    background-size: cover;
}

.history_us {
    height: 500px;
    padding-top: 50px;
    padding-left: 50px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}