/* Pie de página */
footer {
    color: white;
    text-align: center;
    background-color: rgb(67, 8, 177);
}

/* Carrousel*/
.carousel .carousel-item {
    height: 750px;
}
  
.carousel-item img {
    position: absolute;
    object-fit: cover; 
    top: 0;
    left: 0;
    height: 750px;
}

.carousel-caption {
    background-color: rgb(67, 8, 177);
}


.contenedor {
    width: 90%;
    align-items: center;
    height: 500px;
    margin: 10px auto;
}

.columna1 {
    width: 50%;
    height: 100%;
    margin: auto;
    float: left;
}

.columna2 {
    width: 30%;
    height: 100%;
    margin: auto;
    float: left;
}

.texto-borde {
    -webkit-text-stroke: 2px rgb(67, 8, 177);
    color: transparent; 
}
